// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap";

$enable-flex:               true !default;

body {
	margin: 10px;
}

.gauge {
	display: flex;
	span {
		margin-left: -22px;
	}
}